html{
    font-size: 62.5%;
}
body{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: #292b2b;
    height: 200%;
}
.disco1{
    position: fixed;
    top: -1%;
    left: 1%;
    padding-left: 1.5%;
    height: auto;
    width: 10rem;
    animation: disco1 0.9s alternate-reverse infinite;
    transform-origin: top;
    transform-box: fill-box;
}
.disco2{
    position: fixed;
    top: -1%;
    right: 3.1%;
    padding-left: 1.5%;
    height: auto;
    width: 10rem;
    animation: disco2 0.9s alternate-reverse infinite;
    transform-origin: top;
    transform-box: fill-box;
}
.dpAlign{
    position: absolute;
    top: 24%;
    left: 7%
}
.dp{
    height: auto;
    width: 25%;
    border-width: 0.5rem;
    border-color: rgb(118, 248, 100);
    border-style: dotted;
    border-radius: 15rem;
    animation: border 0.5s linear infinite;
}
.flag{
    width: 9%;
    height: auto;
    position: absolute;
    top: 24%;
    right: 7%;
}
@keyframes disco1{
    0%{
        opacity: 100%;
        transform: rotateZ(20deg);
    }

    50%{
        opacity: 50%;
    }
    
    100%{
        transform: rotateZ(-20deg) ;
        opacity: 100%;
    }
}
@keyframes disco2{
    0%{
        opacity: 100%;
        transform: rotateZ(-20deg);
    }

    50%{
        opacity: 50%;
    }
    
    100%{
        transform: rotateZ(20deg) ;
        opacity: 100%;
    }
}
@keyframes border{
    0%{
        border-color: rgb(231, 37, 37);
        border-style: dotted solid dashed double;
    }
    50%{
        border-color: rgb(28, 207, 28);
    }
    100%{
        border-color: rgb(53, 50, 231);
        border-style: dotted solid dashed double;
    }
}
.lineTop{
    position: fixed;
    top: 0;
    width: 100%;
    border-color: red;
    border-width: 0.2rem;
    animation: border 1s linear infinite;
}
.lineBottom{
    position: absolute;
    bottom: -102%;
    width: 99%;
    border-color: red;
    border-width: 0.2rem;
    animation: border 1s linear infinite;
}
.socialLinks{
    position: absolute;
    bottom: -20%;
    right: 7.5rem;
}
.links{
    padding-left: 0.5%;
    padding-bottom: 1rem;
    width: 5rem;
    height: auto;
}
.textareaalign{
    position: absolute;
    bottom: -86%;
    left: 1rem;
    width: 15%;
    height: 23rem;
    border: 1rem solid green;
    border-top-left-radius: 2rem;
    border-right-width: 0px;
    animation: feedbackborderanimation 2s linear infinite;
}
.textArea{
    font-size: 2rem;
    background-color: rgb(214, 166, 166);
    border-width: 0.3rem;
    border-color: greenyellow;
}
.textareafontandanimation{
    font-size: 2rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: rgb(255, 255, 255);
    animation: textareaanimation 2s linear infinite;
}
.submitbutton{
    background: none;
    border-color: greenyellow;
    border-radius: 5px;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 8rem;
    padding-right: 8.4rem;
    color: white; 
    font-size: 2.5rem;
}
.submitbutton:hover{
    background-color: rgb(92, 48, 112);
}
.nameinput{
    position: absolute;
    right: -22%;
    width: 15rem;
    border-color: greenyellow;
    font-size: 1.5rem;
    background-color: rgb(214, 166, 166);  
}
@keyframes textareaanimation{
    0%{color: rgb(250, 108, 108);}
    50%{color: green;}
    100%{color: rgb(106, 106, 219);}
}
@keyframes feedbackborderanimation{
    0%{border-color: rgb(243, 195, 195);}
    50%{border-color: rgb(165, 248, 165);}
    100%{border-color: rgb(151, 151, 247);}
}
.mansvgalign{
    position: absolute;
    bottom: -99%;
    right: 0;
    width: 80rem;
}
#suitleft{
	animation: suitleftanimation 2s alternate infinite;
	transform-origin: top;
	transform-box: fill-box;
}
#hair{
	animation: hairAnimation 1s alternate infinite;
	transform-origin: bottom;
	transform-box: fill-box;
}
@keyframes suitleftanimation{
	from{
		transform: rotateX(0deg);
	}
	to{
		transform: rotateX(25deg);
	}
}
@keyframes hairAnimation{
	from{
		transform: rotateX(0deg);
	}
	to{
		transform: rotateX(25deg);
	}
}
#cloud1, #cloud2{
	position: relative;
	animation: leftcloudanimation 3s alternate infinite;
	transform-origin: left;
}
@keyframes leftcloudanimation{
	0%{
		transform: rotateX(0deg);
	}
	100%{
		transform: rotateX(25deg);
	}
}
#down1{animation: downanimation 1s alternate infinite;}
#down2{animation: downanimation 1.5s alternate infinite;}
#down3{animation: downanimation 0.9s alternate infinite;}
@keyframes downanimation{
	from{
		opacity: 0%;
	}
	to{
		opacity: 100%;
	}
}
.catsvg{
    position: absolute;
    bottom: -10%;
    width: 70rem;
    left: 0;
}
@keyframes leavesanimation{
    from{transform: rotateX(-20deg) rotateZ(-5deg);}
    to{transform: rotateX(20deg) rotateZ(5deg);}
}
@keyframes catbodyanimation{
    from{transform: rotateX(0deg);}
    to{transform: rotateX(20deg);}
}
@keyframes cateyeanimation{
    from{transform: rotateX(0deg) rotateY(0deg);}
    to{transform: rotateX(5deg) rotateY(5deg);}
}
@keyframes cattailanimation{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(-25deg);}
}
@keyframes catfaceanimation{
    from{transform: rotateX(0deg);}
    to{transform: rotateX(20deg);}
}
#eyes{
    animation: cateyeanimation 1s alternate infinite;
    transform-origin: left;
    transform-box: fill-box;
}
#tail{
    animation: cattailanimation 1s alternate infinite;
    transform-origin: left;
    transform-box: fill-box;
}
#body{
    animation: catbodyanimation 2s alternate infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
#Face{
    animation: catfaceanimation 2s alternate infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
#leaf1, #leaf2, #leaf3, #leaf4 {
    animation: leavesanimation 2s alternate infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
.mainheading{
    position: absolute;
    top: 17.5rem;
    left: 35rem;
    border-radius: 2rem;
    animation: headingborderanimation 0.5s linear infinite;
    padding: 1rem;
}
.headingfont{
    font-size: 4rem;
    font-weight: bold;
    color: white;
    animation: headingfontanimation 0.5s linear infinite;
}
.semiheadingfont{
    font-size: 3rem;
    color: white;
    padding-left: 2rem;
    animation: headingfontanimation 0.5s linear infinite;
}
.semiheadingfont2{
    font-size: 3rem;
    color: white;
    padding-left: 5rem;
    animation: headingfontanimation 0.5s linear infinite;
}
@keyframes headingborderanimation{
    0%{
        border-color: rgb(231, 37, 37);
        border-style: dotted solid dashed double;
    }
    50%{
        border-color: rgb(28, 207, 28);
    }
    100%{
        border-color: rgb(53, 50, 231);
        border-style: dotted solid dashed double;
    }
}
@keyframes headingfontanimation{
    0%{
        color: rgb(212, 116, 116);
    }
    50%{
        color: rgb(90, 221, 90);
    }
    100%{
        color: rgb(89, 86, 240);
    }
}
@media screen and (max-width: 768px){
    html{
        font-size: 62.5%;
        width: 90%;
        margin-right: 0;
    }
    body{
        padding: 0;
        border: 0;
        box-sizing: border-box;
        background-color: #292b2b;
        height: 200%;
        width: 90%;
    }
    .dp{
        height: auto;
        width: 30%;
        border-width: 0.5rem;
        border-color: rgb(118, 248, 100);
        border-style: dotted;
        border-radius: 15rem;
        animation: border 0.5s linear infinite;
    }
    .flag{
        width: 20%;
        height: auto;
        position: absolute;
        top: 24%;
        right: 10%;
    }
    .catsvg{
        position: absolute;
        bottom: -10%;
        width: 70%;
        right: 2.5rem;
    }
    .mansvgalign{
        position: absolute;
        bottom: -35%;
        width:70%;
    }
    .disco1{
        position: fixed;
        top: -1%;
        left: 1%;
        padding-left: 1.5%;
        height: auto;
        width: 10rem;
        animation: disco1 0.9s alternate-reverse infinite;
        transform-origin: top;
        transform-box: fill-box;
    }
    .disco2{
        position: fixed;
        top: -1%;
        right: 10%;
        padding-left: 1.5%;
        height: auto;
        width: 10rem;
        animation: disco2 0.9s alternate-reverse infinite;
        transform-origin: top;
        transform-box: fill-box;
    }
    .socialLinks{
        position: absolute;
        bottom: 3%;
        right: 2rem;
    }
    .links{
        padding-right: 2rem;
        padding-bottom: 1rem;
        width: 5rem;
        height: auto;
    }
    .textareadiv{
        position: absolute;
        bottom: -86%;
        left: 8rem;
        width: 13rem;
        height: 28rem;
        border: 1rem solid green;
        border-top-left-radius: 2rem;
        border-right-width: 0px;
        animation: feedbackborderanimation 2s linear infinite;
    }
    .nameinput{
        position: absolute;
        left: 9rem;
        width: 15rem;
        border-color: greenyellow;
        font-size: 1.5rem;
        background-color: rgb(214, 166, 166);  
    }
    .submitbutton{
        background: none;
        border-color: greenyellow;
        border-radius: 5px;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 8rem;
        padding-right: 7.4rem;
        color: white; 
        font-size: 2.5rem;
    }
    .lineTop{
        position: fixed;
        top: 0;
        width: 90%;
        border-color: red;
        border-width: 0.2rem;
        animation: border 1s linear infinite;
    }
    .lineBottom{
        position: absolute;
        bottom: -102%;
        width: 90%;
        border-color: red;
        border-width: 0.2rem;
        animation: border 1s linear infinite;
    }
}