@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto+Mono:wght@100&display=swap');
html{
    font-size: 62.5%;
}
*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    background-color: #1e1f1f;
}
.bgsection{
    position: absolute;
    height: 205%;
    width: 100%;
    background: url(..//bg/bg2.jpg);
    background-size:cover;
    background-position:center;
    filter: blur(5px) brightness(50%);
}
.disco1{
    position: fixed;
    top: -1%;
    left: 1%;
    padding-left: 1.5%;
    height: auto;
    width: 15rem;
    animation: disco1 0.9s alternate-reverse infinite;
    transform-origin: top;
    transform-box: fill-box;
}
.disco2{
    position: fixed;
    top: -1%;
    right: 3.1%;
    padding-left: 1.5%;
    height: auto;
    width: 15rem;
    animation: disco2 0.9s alternate-reverse infinite;
    transform-origin: top;
    transform-box: fill-box;
}
.dpAlign{
    position: absolute;
    top: 24%;
    left: 7%
}
.dp{
    height: auto;
    width: 25%;
    border-width: 0.5rem;
    border-color: rgb(118, 248, 100);
    border-style: dotted;
    border-radius: 15rem;
    animation: border 0.5s linear infinite;
}
.flag{
    width: 9%;
    height: auto;
    position: absolute;
    top: 24%;
    right: 7%;
}
.lineTop{
    position: fixed;
    top: 0;
    width: 100%;
    border-color: red;
    border-width: 0.2rem;
    animation: border 1s linear infinite;
}
.lineBottom{
    position: absolute;
    bottom: -105%;
    width: 99%;
    border-color: red;
    border-width: 0.2rem;
    animation: border 1s linear infinite;
}
.socialLinks{
    position: absolute;
    bottom: -20%;
    right: 7.5rem;
}
.links{
    padding-left: 0.5%;
    padding-bottom: 1rem;
    width: 5rem;
    height: auto;
}
.mansvgalign{
    position: absolute;
    bottom: -99%;
    right: 0;
    width: 80rem;
}
#suitleft{
	animation: suitleftanimation 2s alternate infinite;
	transform-origin: top;
	transform-box: fill-box;
}
#hair{
	animation: hairAnimation 1s alternate infinite;
	transform-origin: bottom;
	transform-box: fill-box;
}
#cloud1, #cloud2{
	position: relative;
	animation: leftcloudanimation 3s alternate infinite;
	transform-origin: left;
}
#down1{animation: downanimation 1s alternate infinite;}
#down2{animation: downanimation 1.5s alternate infinite;}
#down3{animation: downanimation 0.9s alternate infinite;}
.catsvg{
    position: absolute;
    bottom: -10%;
    width: 70rem;
    left: 0;
}
#eyes{
    animation: cateyeanimation 1s alternate infinite;
    transform-origin: left;
    transform-box: fill-box;
}
#tail{
    animation: cattailanimation 1s alternate infinite;
    transform-origin: right;
    transform-box: fill-box;
}
#body{
    animation: catbodyanimation 2s alternate infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
#Face{
    animation: catfaceanimation 2s alternate infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
#leaf1, #leaf2, #leaf3, #leaf4 {
    animation: leavesanimation 2s alternate infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
.mainheading{
    position: absolute;
    top: 16rem;
    left: 30rem;
    border-radius: 2rem;
    animation: headingborderanimation 0.5s linear infinite;
    padding: 1rem;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto Mono', monospace;
}
.headingfont{
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    animation: headingfontanimation 0.5s linear infinite;
}
.semiheadingfont{
    font-size: 3rem;
    font-weight: 600;
    padding-left: 0.5rem;
    color: white;
    animation: headingfontanimation 0.5s linear infinite;
}
.semiheadingfont2{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    padding-left: 4rem;
    animation: headingfontanimation 0.5s linear infinite;
}
.quote{
    position: absolute;
    bottom: -90%;
    width: 40%;
}
.quotefont{
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    animation: headingfontanimation 0.5s linear infinite;
}
.someinfo{
    position: absolute;
    width: 95%;
    bottom: -103.2%;
    left: 2rem;
    text-align: center;
}
.someinfofont{
    color: white;
    font-size: 1.5rem;
}
@keyframes disco1{
    0%{
        opacity: 100%;
        transform: rotateZ(20deg);
    }
    50%{
        opacity: 50%;
    } 
    100%{
        transform: rotateZ(-20deg) ;
        opacity: 100%;
    }
}
@keyframes disco2{
    0%{
        opacity: 100%;
        transform: rotateZ(-20deg);
    }
    50%{
        opacity: 50%;
    }
    100%{
        transform: rotateZ(20deg) ;
        opacity: 100%;
    }
}
@keyframes border{
    0%{
        border-color: rgb(231, 37, 37);
        border-style: dotted solid dashed double;
    }
    50%{
        border-color: rgb(28, 207, 28);
    }
    100%{
        border-color: rgb(53, 50, 231);
        border-style: dotted solid dashed double;
    }
}
@keyframes suitleftanimation{
	from{
		transform: rotateX(0deg);
	}
	to{
		transform: rotateX(25deg);
	}
}
@keyframes hairAnimation{
	from{
		transform: rotateX(0deg);
	}
	to{
		transform: rotateX(25deg);
	}
}
@keyframes leftcloudanimation{
	0%{
		transform: rotateX(0deg);
	}
	100%{
		transform: rotateX(25deg);
	}
}
@keyframes downanimation{
	from{
		opacity: 0%;
	}
	to{
		opacity: 100%;
	}
}
@keyframes leavesanimation{
    from{transform: rotateX(-20deg) rotateZ(-5deg);}
    to{transform: rotateX(20deg) rotateZ(5deg);}
}
@keyframes catbodyanimation{
    from{transform: rotateX(0deg);}
    to{transform: rotateX(20deg);}
}
@keyframes cateyeanimation{
    from{transform: rotateX(0deg) rotateY(0deg);}
    to{transform: rotateX(5deg) rotateY(5deg);}
}
@keyframes cattailanimation{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(25deg);}
}
@keyframes catfaceanimation{
    from{transform: rotateX(0deg);}
    to{transform: rotateX(20deg);}
}
@keyframes headingborderanimation{
    0%{
        border-color: rgb(231, 37, 37);
        border-style: dotted solid dashed double;
    }
    50%{
        border-color: rgb(28, 207, 28);
    }
    100%{
        border-color: rgb(53, 50, 231);
        border-style: dotted solid dashed double;
    }
}
@keyframes headingfontanimation{
    0%{
        color: rgb(212, 116, 116);
    }
    50%{
        color: rgb(90, 221, 90);
    }
    100%{
        color: rgb(89, 86, 240);
    }
}
@media screen and (max-width: 768px){
    html{
        font-size: 62.5%;
        width: 90%;
        margin-right: 0;
    }
    body{
        padding: 0;
        border: 0;
        box-sizing: border-box;
        background-color: #292b2b;
        height: 40%;
        width: 90%;
    }
    .bgsection{
        position: absolute;
        height: 140%;
        width: 100%;
        background: url(..//bg/bg2.jpg);
        background-size:cover;
        background-position:center;
        filter: blur(5px) brightness(50%);
    }
    .dp{
        height: auto;
        width: 30%;
        border-width: 0.5rem;
        border-color: rgb(118, 248, 100);
        border-style: dotted;
        border-radius: 15rem;
        animation: border 0.5s linear infinite;
    }
    .flag{
        width: 20%;
        height: auto;
        position: absolute;
        top: 24%;
        right: 10%;
    }
    .mainheading{
        position: absolute;
        top: 30rem;
        left: 0;
        animation: headingborderanimation 0.5s linear infinite;
        padding: 1rem;
        font-family: 'Dancing Script', cursive;
        font-family: 'Roboto Mono', monospace;
    }
    .headingfont{
        font-size: 2.8rem;
        font-weight: bolder;
        color: white;
        animation: headingfontanimation 0.5s linear infinite;
    }
    .semiheadingfont{
        font-size: 2rem;
        font-weight: 600;
        padding-left: 0.5rem;
        color: white;
        animation: headingfontanimation 0.5s linear infinite;
    }
    .semiheadingfont2{
        font-size: 2rem;
        font-weight: 600;
        color: white;
        padding-left: 3rem;
        animation: headingfontanimation 0.5s linear infinite;
    }
    .quote{
        position: absolute;
        bottom: -15%;
        width: 100%;
    }
    .quotefont{
        font-family: 'Roboto Mono', monospace;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        animation: headingfontanimation 0.5s linear infinite;
    }
    .someinfo{
        position: absolute;
        width: 95%;
        bottom: -35%;
        left: 2rem;
        text-align: left;
    }
    .someinfofont{
        color: white;
        font-size: 1rem;
    }
    .catsvg{
        position: absolute;
        bottom: 10rem;
        width: 70%;
        right: 2.5rem;
    }
    .mansvgalign{
        position: absolute;
        bottom: -35%;
        width:50%;
    }
    .disco1{
        position: fixed;
        top: -1%;
        left: 1%;
        padding-left: 1.5%;
        height: auto;
        width: 13rem;
        animation: disco1 0.9s alternate-reverse infinite;
        transform-origin: top;
        transform-box: fill-box;
    }
    .disco2{
        position: fixed;
        top: -1%;
        right: 10%;
        padding-left: 1.5%;
        height: auto;
        width: 13rem;
        animation: disco2 0.9s alternate-reverse infinite;
        transform-origin: top;
        transform-box: fill-box;
    }
    .socialLinks{
        position: absolute;
        bottom: 3%;
        right: 2rem;
    }
    .links{
        padding-right: 2rem;
        padding-bottom: 1rem;
        width: 5rem;
        height: auto;
    }
    .lineTop{
        position: fixed;
        top: 0;
        width: 100%;
        border-color: red;
        border-width: 0.2rem;
        animation: border 1s linear infinite;
    }
    .lineBottom{
        position: absolute;
        bottom: -40%;
        width: 100%;
        border-color: red;
        border-width: 0.2rem;
        animation: border 1s linear infinite;
    }
}